<h1>Here Are Our Best Tutorials</h1>
<div class="row mt-3">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              <strong>Nodejs</strong>
            </div>
            <div class="card-body">
              <h3 class="card-title">Nodejs, Express, and MongoDB</h3>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae, fugiat vitae exercitationem inventore mollitia libero et in, commodi veniam, dolorem officiis sapiente quod iusto debitis architecto eaque saepe impedit!
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              <strong>Angular</strong>
            </div>
            <div class="card-body">
              <h3 class="card-title">Angular From Scratch</h3>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae, fugiat vitae exercitationem inventore mollitia libero et in, commodi veniam, dolorem officiis sapiente quod iusto debitis architecto eaque saepe impedit!
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              <strong>React</strong>
            </div>
            <div class="card-body">
              <h3 class="card-title">ReactJs</h3>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae, fugiat vitae exercitationem inventore mollitia libero et in, commodi veniam, dolorem officiis sapiente quod iusto debitis architecto eaque saepe impedit!
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
              <strong>Php</strong>
            </div>
            <div class="card-body">
              <h3 class="card-title">PHP with MySqli</h3>
              <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident repudiandae, fugiat vitae exercitationem inventore mollitia libero et in, commodi veniam, dolorem officiis sapiente quod iusto debitis architecto eaque saepe impedit!
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
    </div>
</div>

<button class="btn btn-info mt-5" routerLink="/"> Back To Home</button>
<!-- <div class="container mt-3">

</div> -->
